
body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        display:grid;
        grid-template-rows: repeat(8, 1fr);
        background-image:url("papel-antigo23.jpg");
        min-height: 100vh;
        margin: 0;
        
    }
    .box1 {
        grid-row: 1 / 2;
        text-align: center;
        /*background-color: rgba(254, 131, 204,0.3); */       
        border-radius: 40%;
        color: rgb(4, 52, 71)
       
    }
    .box1:hover {
        transition-duration: 1s;
        background-color: rebeccapurple;
        color: silver;
       
    }
    .box2 {
        grid-row: 2 / 3;
        color: rgb(4, 52, 71);
        font-weight: bolder;
        background-color: rgba(22, 165, 175,0.3);
        border-radius: 25%;
    }
   .box2 ul{
    text-align: center;
    font-size: 25px;
    
   } 
   .box2 ul li {
       display: inline-block;
       padding-left: 30px;
       padding-right: 30px;
   }
   .box2 ul li:hover {
       color: yellow;
       transition-duration: 1s;
       transform: rotate(-20deg);
          
       
   }
    .box3 {
        grid-row: 3 / 9;
        background-color: rgba(254, 131, 204,0.3);
        padding:30px;
        border-radius: 12.5%;
        color: rgb(4, 52, 71);
        font-weight: bolder;
    }
.box3 h1::first-letter {
        font-size: 200%;
        color: darkslategrey;
}
.box3 p::first-letter {
    font-size: 200%;
        color: darkslategray;
}

/**/
    .box4 {
        grid-row: 9;
        background-color: wheat;
        padding:1px;
        text-align: center;
    }

}

@media only screen and (min-width: 768px) {
.container {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    min-height: 100vh;
    background-image:url("papel-antigo23.jpg");  
    margin: 0;  
}

.box1 {
    grid-column: 1 / 7;
    grid-row: 1;
    text-align: center;
        /*background-color: rgba(254, 131, 204,0.3); */       
        border-radius: 40%;
        color: rgb(4, 52, 71)
    
}
.box1:hover {
    transition-duration: 1s;
    background-color: rebeccapurple;
    color: silver;
   
}
/**/
.box2 {
    grid-column: 1 / 2;
    grid-row: 2 / 9;
    background-color: rgba(22, 165, 175,0.3);
    border-radius: 25%;
    color: rgb(4, 52, 71);
    font-weight: bolder;
       
}
/*estilização da box2*/
.box2 ul{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
   } 
   .box2 ul li {
    display: inline-block;
    padding-left: 3px;
    padding-right: 30px;
    margin-top: 20px;

   }
   .box2 ul li:hover {
       color: yellow;
       transition-duration: 1s;
       transform: scale(1.4);}
/**/
.box3 {
    grid-column: 2 / 7;
    grid-row: 2 / 9;
    color: rgb(5, 9, 10) ;
    background-color: rgba(254, 131, 204,0.3);
    padding:30px;
    border-radius: 12.5%;
    color: rgb(4, 52, 71);
    font-weight: bolder;
}
.box3 h1::first-letter {
    font-size: 200%;
    color: darkslategrey;
}
.box3 p::first-letter {
font-size: 200%;
    color: darkslategray;
}
.box4 {
    grid-column: 1 / 7; 
    grid-row: 9;
       background-color: wheat;
        padding:1px;
        text-align: center;   

}
}